*/*.dot
!*/Makefile
*/.DS_Store
*/*.dSYM
src.mk
Release/
*.gexf
agmfit/agmfitmain
agmfit/cmtyvv.txt
agmgen/agmgen
bigclam/bigclam
cascadegen/cascadegen
cascades/cascades
centrality/centrality
cesna/cesna
circles/circles
cliques/cliquesmain
coda/coda
community/community
concomp/concomp
flows/flows
forestfire/forestfire
graphgen/graphgen
graphhash/graphhash
infopath/infopath
kcores/kcores
knnjaccardsim/knnjaccardsim
kronem/kronem
kronfit/kronfit
krongen/krongen
localmotifcluster/localmotifclustermain
lshtest/lshtest
magfit/magfit
maggen/maggen
mkdatasets/mkdatasets
motifs/motifs
ncpplot/ncpplot
netevol/netevol
netinf/netinf
netstat/netstat
node2vec/node2vec
randwalk/randwalk
rolx/testrolx
temporalmotifs/temporalmotifsmain
pool/prefixsum
testgraph/testgraph
